extends layout

block content
  .inner
    h2= title
    .createBox
      form(action="AddMovie", method="POST" class="AddMovie normal-form"
      enctype="multipart/form-data")
        //-Hacer que automaticamente le ponga un id
        label(for="name") Movie Name
        input(type="text" name="name" required)
        label(for="video") Video
          input(type="file", name="video" id="video" accept="video/mp4")
        label(for="")
        input(type="submit" value="Save →" class="button")