extends layout

block content
  .inner
    h2= title
    .createBox
      form(action="editMovie", method="POST" class="AddMovie normal-form"
      enctype="multipart/form-data")
        label(for="name") Movie Name
        input(type="text" name="name" required)
        label(for="photo") Photo🥟
          input(type="file", name="photo" id="photo" accept="image/png, image/jpeg")
        label(for="")
        input(type="submit" value="Save →" class="button")