doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/styles/styles.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(rel="icon" href="../public/img/logo.png")
  body
    block navbar
    ul
      li
        a(href='/') Home
      li
        a(href='/Movies') Movies
      li
        a(href='/Series') Series
      li
        a(href='/Users') Users

    block content

    block footer
      footer.bottom

