doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/styles/styles.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(rel="icon" href="../public/img/logo.png")
  body
    block navbar
      nav.navbar
        .navbar-container
          ul.navbar-items
            li
              a(href='/' ) Movies
            if title === "Movies"
              li
                a(href='/addMovie') Add Movie
            li
              a(href='/Users') Users
            li
              a(href='http://desktop-hjrgroh/Reports_SQLSERVER/browse/') View Reports
            if title === 'Movies'
              li
                .searchBar
                  form(action="/movies/searchMovies/", method="GET" class="searchForm")
                    input(type="text", class="btn-extended" placeholder="search" name="search")
                    .btn-search
            else if title === 'Users'
              li
                .searchBar
                  form(action="/Users/searchUser/", method="GET" class="searchForm")
                    input(type="text", class="btn-extended" placeholder="search" name="search")
                    .btn-search
            li
              a(href='/Logout') LogOut
      block content

      block footer
        footer.bottom
    script(type="text/javascript" src="lib/jquery-2.1.4.js")

