extends layout

block content
  .movies
    ul.movieCards
      each movie in movies
        li
          .moviecard
            a(href=`/watch/${movie.MovieVideo.split('.')[0]}`)
              img(src="/img/Breaking-Bad.jpg", alt="")
