extends layout

block content
  .movies
    ul.movieCards
      each movie in movies
        li
          .moviecard
            a(href=`/watch/${movie.MovieID}`)
              img(src="/img/Breaking-Bad.jpg", alt="")
              .options
                span #{movie.MovieName}
