extends layout

block content
  div(class="container users-cards")
    div(class="addUserCard card")
      a(href="/AddUser") +
    each user in users
      .card
        a(href=`/User/${user.Email}`)
          if user.Photo
            img(src=`/uploads/${user.Photo}`, alt="")
          else
            img(src=`/img/${user.Gender === 'F' ? 'avatar-female.png':'avatar.png'}`, alt="")
          .info
              p Name:
                span  #{user.Name}