extends layout

block content
  .container
    div(class="addUserCard card")
      a(href="/AddUser") +
    each user in users
      .card
        a(href=`/User/${user.Email}`)
          if user.Photo
            img(src=`/uploads/${user.Photo}`, alt="")
          else if user.Photo === 'undefined'
            img(src=`/img/${user.Gender === 'M' ? 'avatar.png':'avatar-female.png'}`, alt="")
          .info
              p Name:
                span  #{user.Name}
