body {
  font-family: 'Roboto', sans-serif;
  background-color: #141414;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #db0000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

p {
  color: #ffffff;
}

.user {
  align-content: center;
  color: white;
  /*Content - Width and height*/
  width: 200px;
  /*Border*/
  border: 2px solid white;
  /*Padding*/
  padding: 10px;
  /*Margin*/
  margin: 100px auto 100px auto;
}

.addUser {
  color: black;
  background: white;
  padding: 5rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

.inner {
  max-width: 900px;
  margin: 0 auto;
}
