body {
  font-family: 'Roboto', sans-serif;
  /*background-color: #141414;
  color: white;*/
}

.navbar {
  /*Esto es nuevo*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar-container {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
  position: relative;
}

.navbar-items {
  margin: 0;
  padding: 0;
  grid-area: navbar;
  display: grid;
  list-style-type: none;
  /*  background-color: #db0000;*/
  grid-template-columns: repeat(4, 1fr);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

li a:hover {
  color: rgb(168, 167, 167);
}
/*
p {
  color: #ffffff;
}
*/
.user {
  align-content: center;
  color: white;
  /*Content - Width and height*/
  width: 200px;
  /*Border*/
  border: 2px solid white;
  /*Padding*/
  padding: 10px;
  /*Margin*/
  margin: 100px auto 100px auto;
}

.addUserCard {
  font-size: 150px;
  text-align: center;
  width: 17vw;
}

.addUser {
  color: black;
  background: white;
  padding: 5rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

.inner {
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    padding-top: 50px;
    align-items: start;
    grid-row-gap: 50px;
  }
  .card {
    align-self: center;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    transition-delay: 200ms;
    border-radius: 5px; /* 5px rounded corners */
    margin: 1vw;
    width: 17vw;
    background-color: #6d6d6d;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
    width: 18vw;
    color: white;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    padding-top: 50px;
    align-items: start;
    grid-row-gap: 50px;
  }
  .card {
    align-self: center;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    transition-delay: 500ms;
    border-radius: 5px; /* 5px rounded corners */
    margin: 1vw;
    width: 17vw;
    background-color: #6d6d6d;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
    width: 18vw;
    color: white;
  }
}
@media screen and (max-width: 940px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    padding-top: 50px;
    align-items: start;
    grid-gap: 1em;
  }
  .card {
    align-self: center;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin: 1vw;
    width: 25vw;
    background-color: #6d6d6d;
  }
  .card:hover {
    transition-delay: 500ms;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
    width: 28vw;
    color: white;
  }
}

img {
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0 0;
}

.info {
  padding: 2px 16px;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
li a:hover .dropdown-content {
  display: block;
  position: relative;
}
li.dropdown {
  display: inline-block;
}
